body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  background-color: white;
  text-align: center;
}

header {
  background-color: violet;
  padding: 10px;
}

footer {
  background-color: #0099cc;
  padding: 10px;
}

aside {
  background-color: cyan;
  padding: 10px;
  width: 1/3;
}

main {
  padding: 10px;
  background-color: white;
}

nav {
  padding: 10px;
  background-color: teal;
}

.detalle {
  width: 25%;
  padding: 10px;
  background-color: grey;
}

.detalle:nth-child(even) {
  background-color: lightgrey;
}

.testimonio {
  padding: 10px;
  background-color: cornflowerblue;
}

.testimonio:nth-child(even) {
  background-color: crimson;
}

.rrss {
  padding: 10px;
  background-color: indianred;
}

.rrss:nth-child(even) {
  background-color: indigo;
}

@media (max-width: 800px) {
  .detalle {
    width: 50%;
  }

  aside {
    width: 100%;
  }
}

@media (max-width: 600px) {
  aside,
  .detalle {
    width: 100%;
  }
}
