* {
  box-sizing: border-box;
  width: 100%; /* ajuste automatico del ancho de
                    los items flex */
}

/*  Clases de flex */

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .row {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
