/* clases para el footer */

:root {
  --alto-del-footer: 2.5rem; /* altura del footer */
}

.pagina {
  position: relative;
  min-height: 100vh;
}

.contenido {
  padding-bottom: var(--alto-del-footer); /* altura del footer */
}

.footer-debajo {
  /* propiedades para colocar el footer debajo siempre */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--alto-del-footer);
}
