body {
  margin: 0px;
  padding: 0px;

  font-family: "Lucida Sans", sans-serif;
  text-align: center;
}

nav {
  background-color: teal;
  padding: 15px;
}

header {
  background-color: violet;
  padding: 15px;
}

aside {
  background-color: aqua;
  padding: 15px;
}

footer {
  background-color: #0099cc;
  padding: 15px;
}

.detalle {
  padding: 10px;
  background-color: lightgray;
}

.detalle:nth-child(even) {
  background-color: grey;
}

.testimonio {
  padding: 10px;
  background-color: cornflowerblue;
}

.testimonio:nth-child(even) {
  background-color: crimson;
}

.rrss {
  padding: 10px;
  background-color: indianred;
}

.rrss:nth-child(even) {
  background-color: indigo;
}